<%- include("partials/header.ejs",{title:"Twitter"}) %>
<%- include("partials/navigation.ejs") %>
 

<div class="col-lg-6 col-md-9 col-sm-10 column2">     
        <!--when a user deleted in usertable, the posts remained in posts table, therefore causes error to render the home page-->      
        <%-include("allUsersPosts.ejs"),{posts}%>
                
   
    </div>

<%- include("partials/aside.ejs") %>
<%- include("partials/footer.ejs") %>